body {
  font-family: Helvetica Neue, Arial, sans-serif;
  text-align: center;
}

.wrapper {
  max-width: 80vh;
  margin: 50px auto;
  margin-top: 100px;
}

.header {
  background-color: #392E6C;
  position:absolute;
  top:0;
  width:100%;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.footer {
  position:absolute;
  bottom:0;
  width:100%;
}

.mpanel {
  background-color: #392E6C;
  width:100%;
  padding-top: 3vh;
  padding-bottom: 3vh;
}

.notes {
  padding-bottom: 2vh;
}

b {
  color: white;
}

.button {
  margin-right: 1vh;
  margin-left: 1vh;
  height:10vh; 
  width: :10vh; 
}

h1 {
  font-weight: 200;
  font-size: 2em;
  text-shadow: 2px 2px #ff0000;
  color: white;
  margin: 0 0 0.1em 0;
}

h2 {
  font-weight: 200;
  font-size: 0.9em;
  margin: 0 0 50px;
  color: #999;
}

a {
  margin-top: 50px;
  display: block;
  color: #3e95cd;
}
